*{
  // border: 1px solid red;
  box-sizing: border-box;
}
$primary-color: #0077C1;
$secondary-color: #EB3D00;
center-all-mini{
  display: flex;
  justify-content: center;
  align-items: center;
}

box-shadow{
  -webkit-box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.54);
-moz-box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.54);
box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.54);
}

body{
  font-family: 'Roboto', sans-serif;
}
.hide{
  display:none;
}
#header{
 & #logo-div{
    margin:0 auto;
    width: 210px;
  }
  & #call-us{
  @extend center-all-mini;
  margin-bottom: 20px;
  margin-top: 10px;
   h6{
    font-size: 14px;
    font-weight: bolder;
   }
   i{
     color: $secondary-color;
     margin-right: 4px;
   }
  }
}
/*NAVIGATIONS*/

#nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  width: 100%;
  height:50px;
  border-bottom: 5px solid $secondary-color;
  & .nav-ul{
    display: none;
  }
  & #social-media{
    @extend center-all;
    i{
      color:rgb(123, 181, 218) ;
      font-size: 18px;
      margin-left: 10px;
    }
    i:hover{
      color:rgb(7, 83, 131) ;
    }
  }

  #nav-icon{
    i{
      margin-right: 10px;
      color: #fff;
      font-size: 24px;
    }
  }


  #sideBar {
    position: fixed;
    top: 0;
    left: -80vw;
    height: 100vh;
    width: 80vw;
    background-color: $secondary-color;
    z-index: 800;
  }

  & .side-ul{
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;
    & .nav-li{
      padding: 5px 0px 0 10px;
      // margin-right: 5px;
      display: block;
      font-size: 18px;
      width:100%;
      border-bottom: 1px solid #fff;

      & .nav-a{
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: 14px;
      }
    }

    & .dropside{
      display: flex;
      justify-content: space-between;
      padding-right: 10px;
      & i{
        color: #fff;
        // margin-top: 5px;
      }
    }

    & p{
      color: #fff ;
      font-size: 14px;
      padding: 10px 0 10px 10px;
      background-color: $primary-color;

    }
  }
}


.openSideBar {
  animation-name: openSideBar;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.closeSideBar {
  animation-name: closeSideBar;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes openSideBar {
  100% {
    transform: translate(80vw);
  }
}

@keyframes closeSideBar {
  0% {
    transform: translate(80vw);
  }
  100% {
    transform: translate(0vw);
  }
}

.gradual-fadeIn{
  animation-name: gradual-fadeIn;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes gradual-fadeIn{
  0%{
    opacity: 0.5;
  }
  50%{
    opacity: 0.2;
  }

  100%{
    opacity: 0;
  }
  
}

#main-header-container{
  width: 100%;
}


#banner1{
  background-image: url(images/car.png);
  height: 40vh;
  background-size: cover;
  // background-position: 0px 50px;
  background-repeat: no-repeat;
  background-color: #FAFEFE;
  
}

#banner2{
  background-image: url(images/family.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  min-height: 40vh;
  background-color: #18F561;
}
#banner3{
  background-image: url(images/house.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: bottom left;
  min-height: 40vh;
  background-color: #18F561;
}

#banner1,#banner2,#banner3{
  padding-top: 20px;
}

.summary-card{
  background-color: #fff;
  height: 130px;
  width: 200;
  position: relative;
  right: -38%;
  padding-top: 4px;
  @extend box-shadow;
  & h6{
    font-size: 14px;
    color: $secondary-color;
  }
  p{
    font-size: 12px;
    
  }
  .read-more{
    color:#fff;
    background-color: $secondary-color;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
  }
}

// .summary-card:nth-child(1){
//   background-color: $secondary-color;
//   color: #fff;
//   & h6{
//     color: #fff;
//   }
// }


// MEDIA QUERIES***********************************************************************************
@media (min-width: 768px) {
  center-all{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*NAVIGATIONS*/
#nav-container{
  @extend center-all;
  padding-right: 50px;
  & .nav-ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    margin: 0 auto 0 50px;
    padding: 0;
    height:100%;
    // border: 1px solid red;
    & .nav-li {
      padding: 9px;
      margin-right: 5px;
      font-size: 18px;
      // border-bottom: 5px solid $secondary-color;
    .nav-a{
      display: block;
      text-decoration: none;
      color: #fff;
    }
  }
  }
  #nav-icon{
    display: none;
  }
}

.c-dropdown{
  position: relative;
  display: inline-block;
}
.c-dropdown-content, .c-inner-dropdown-content{
  display: none;
  position: absolute;
  min-width: 200px;
  z-index: 1;
  background-color: $secondary-color;
  & .nav-a{
    padding: 5px 0 5px 5px;
  }
  & .nav-a:hover{
    background-color: $primary-color;
  }
}

.c-dropdown:hover .c-dropdown-content{
  display: block;
}

.c-inner-dropdown{
  position: relative;
  display: flex;
  flex-direction: row;
  & a{
    width: 100%;
  }
}
.c-inner-dropdown-content{
  left: 200.5px;
}

.c-inner-dropdown:hover .c-inner-dropdown-content{
  display: block;
}
}
