*{
  // border: 1px solid red;
  box-sizing: border-box;
}
$primary-color: #0077C1;
$secondary-color: #EB3D00;
$text-color: rgb(85, 83, 83);
center-all-mini{
  display: flex;
  justify-content: center;
  align-items: center;
}

.underline{
  border-bottom: 2px solid $primary-color;
}

box-shadow{
  -webkit-box-shadow: 1px 5px 5px 0px rgba(7, 7, 7, 0.4);
  -ms-box-shadow: 1px 5px 5px 0px rgba(7, 7, 7, 0.4);
  -moz-box-shadow: 1px 5px 5px 0px rgba(7, 7, 7, 0.4);
  box-shadow: 1px 5px 5px 0px rgba(7, 7, 7, 0.4);
}
paragraph{
  line-height: 22px;
  letter-spacing: 0.6px;
  font-size: 14px;
}
body{
  font-family: 'Roboto', sans-serif;
 & p{
   color: $text-color;
   
 }

 & h4{
  margin-bottom: 30px;
  color: $secondary-color;
}

 .read-more{
  color:#fff;
  background-color: $secondary-color;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  text-justify: ju;
}
}

h1,h2,h3,h4,h5,h6{
  letter-spacing: 0.8px;
}
.hide{
  display:none;
}
#header{
 & #logo-div{
    margin:0 auto;
    width: 210px;
  }
  & #call-us{
  @extend center-all-mini;
  margin-bottom: 20px;
  margin-top: 10px;
   h6{
    font-size: 14px;
    font-weight: bolder;
   }
   i{
     color: $secondary-color;
     margin-right: 4px;
   }
  }
}
/*NAVIGATIONS*/

#nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  width: 100%;
  height:50px;
  border-bottom: 5px solid $secondary-color;
  & .nav-ul{
    display: none;
  }
  & #social-media{
    @extend center-all;
    i{
      color:rgb(123, 181, 218) ;
      font-size: 18px;
      margin-left: 10px;
    }
    i:hover{
      color:rgb(7, 83, 131) ;
    }
  }

  #nav-icon{
    i{
      margin-right: 10px;
      color: #fff;
      font-size: 24px;
    }
  }


  #sideBar {
    position: fixed;
    top: 0;
    left: -80vw;
    height: 100vh;
    width: 80vw;
    background-color: $secondary-color;
    z-index: 800;
  }

  & .side-ul{
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;
    & .nav-li{
      padding: 5px 0px 0 10px;
      // margin-right: 5px;
      display: block;
      font-size: 18px;
      width:100%;
      border-bottom: 1px solid #fff;

      & .nav-a{
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: 14px;
      }
    }

    & .dropside{
      display: flex;
      justify-content: space-between;
      padding-right: 10px;
      & i{
        color: #fff;
        // margin-top: 5px;
      }
    }

    & p{
      color: #fff ;
      font-size: 14px;
      padding: 10px 0 10px 10px;
      background-color: $primary-color;

    }
  }
}


.openSideBar {
  animation-name: openSideBar;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.closeSideBar {
  animation-name: closeSideBar;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes openSideBar {
  100% {
    transform: translate(80vw);
  }
}

@keyframes closeSideBar {
  0% {
    transform: translate(80vw);
  }
  100% {
    transform: translate(0vw);
  }
}

.gradual-fadeIn{
  animation-name: gradual-fadeIn;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes gradual-fadeIn{
  0%{
    opacity: 0.5;
  }
  50%{
    opacity: 0.2;
  }

  100%{
    opacity: 0;
  }
  
}

#main-header-container{
  width: 100%;
}


#banner1{
  background-image: url(images/car.png);
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #FAFEFE;
  
}

#banner2{
  background-image: url(images/family.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  min-height: 40vh;
}
#banner3{
  background-image: url(images/house.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 40vh;
}

#banner1,#banner2,#banner3{
  padding-top: 20px;
}

.summary-card{
  background-color: #fff;
  height: 130px;
  width: 200;
  position: relative;
  right: -38%;
  padding-top: 4px;
  @extend box-shadow;
  & h6{
    font-size: 14px;
    color: $secondary-color;
  }
  p{
    font-size: 12px;
    
  }
}

// .summary-card:nth-child(1){
//   background-color: $secondary-color;
//   color: #fff;
//   & h6{
//     color: #fff;
//   }
// }
#about-summary-section{

  #About-us-summary{
    padding-top: 30px;
     & p{
     @extend paragraph;
    }
  }
}


  .side-effect{
    position: fixed;
    width: 100px;
    height: 150px;
    background-color: $primary-color;
    transform: rotate(-47deg);
    z-index: -1;
    @extend box-shadow;
  }

  .side-effect-inner{
    background-color: $secondary-color;
    margin: 10px;
    width: 80;
    height: 80;
  }
#services-summary-main{
  background-color: rgb(243, 243, 243) ;
  #services-summary{
    .services-card{
      background-color: #fff;
      width: 300px;
      padding: 10px;
      @extend box-shadow;
      @extend paragraph;
      margin: 0 auto;
      border-radius: 5px;
      
    }
    .carousel-item{
      border-radius: 5px;
    }
  }
}

#page-footer{
  background-color: #000000;
  color: #fff;
  & ul{
    list-style-type: none;

    & a{
      text-decoration: none;
      display: block;
      color: #fff;
      font-size: 14px;
    }
  }
}
// MEDIA QUERIES***********************************************************************************
@media (min-width: 768px) {
  center-all{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*NAVIGATIONS*/
#nav-container{
  @extend center-all;
  padding-right: 50px;
  & .nav-ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    margin: 0 auto 0 50px;
    padding: 0;
    height:100%;
    // border: 1px solid red;
    & .nav-li {
      padding: 9px;
      margin-right: 5px;
      font-size: 18px;
      // border-bottom: 5px solid $secondary-color;
    .nav-a{
      display: block;
      text-decoration: none;
      color: #fff;
    }
  }
  }
  #nav-icon{
    display: none;
  }
}

.c-dropdown{
  position: relative;
  display: inline-block;
}
.c-dropdown-content, .c-inner-dropdown-content{
  display: none;
  position: absolute;
  min-width: 200px;
  z-index: 1;
  background-color: $secondary-color;
  & .nav-a{
    padding: 5px 0 5px 5px;
  }
  & .nav-a:hover{
    background-color: $primary-color;
  }
}

.c-dropdown:hover .c-dropdown-content{
  display: block;
}

.c-inner-dropdown{
  position: relative;
  display: flex;
  flex-direction: row;
  & a{
    width: 100%;
  }
}
.c-inner-dropdown-content{
  left: 200.5px;
}

.c-inner-dropdown:hover .c-inner-dropdown-content{
  display: block;
}
}
