* {
  box-sizing: border-box;
}

center-all-mini, #header #call-us {
  display: flex;
  justify-content: center;
  align-items: center;
}

.underline {
  border-bottom: 2px solid #0077C1;
}

box-shadow, .services-card, .side-effect, .main-header-container .summary-card {
  -webkit-box-shadow: 1px 5px 5px 0px rgba(7, 7, 7, 0.4);
  -ms-box-shadow: 1px 5px 5px 0px rgba(7, 7, 7, 0.4);
  -moz-box-shadow: 1px 5px 5px 0px rgba(7, 7, 7, 0.4);
  box-shadow: 1px 5px 5px 0px rgba(7, 7, 7, 0.4);
}

paragraph, .services-card, #about-us-summary-section #About-us-summary p {
  line-height: 22px;
  letter-spacing: 0.6px;
  font-size: 14px;
}

body {
  font-family: "Roboto", sans-serif;
}
body p {
  color: #555353;
}
body h4 {
  margin-bottom: 30px;
  color: #EB3D00;
}
body .read-more {
  color: #fff;
  background-color: #EB3D00;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.8px;
}

.hide {
  display: none;
}

#header #logo-div {
  margin: 0 auto;
  width: 210px;
}
#header #call-us {
  margin-bottom: 10px;
  margin-top: 20px;
}
#header #call-us h6 {
  font-size: 14px;
  font-weight: bolder;
}
#header #call-us i {
  color: #EB3D00;
  margin-right: 4px;
}

/*NAVIGATIONS*/
.sticky-nav {
  position: fixed;
  top: 0;
  z-index: 1000;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0077C1;
  width: 100%;
  height: 50px;
  border-bottom: 5px solid #EB3D00;
}
#nav-container .nav-ul {
  display: none;
}
#nav-container #social-media i {
  color: #7bb5da;
  font-size: 18px;
  margin-left: 10px;
}
#nav-container #social-media i:hover {
  color: #075383;
}
#nav-container #nav-icon i {
  margin-right: 10px;
  color: #fff;
  font-size: 24px;
}
#nav-container #sideBar {
  position: fixed;
  top: 0;
  left: -80vw;
  height: 100vh;
  width: 80vw;
  background-color: #EB3D00;
  z-index: 800;
}
#nav-container .side-ul {
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
}
#nav-container .side-ul .nav-li {
  padding: 5px 0px 0 10px;
  display: block;
  font-size: 18px;
  width: 100%;
  border-bottom: 1px solid #fff;
}
#nav-container .side-ul .nav-li .nav-a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
#nav-container .side-ul .dropside {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}
#nav-container .side-ul .dropside i {
  color: #fff;
}
#nav-container .side-ul p {
  color: #fff;
  font-size: 14px;
  padding: 10px 0 10px 10px;
  background-color: #0077C1;
}

.openSideBar {
  animation-name: openSideBar;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.closeSideBar {
  animation-name: closeSideBar;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes openSideBar {
  100% {
    transform: translate(80vw);
  }
}
@keyframes closeSideBar {
  0% {
    transform: translate(80vw);
  }
  100% {
    transform: translate(0vw);
  }
}
.gradual-fadeIn {
  animation-name: gradual-fadeIn;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes gradual-fadeIn {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
.main-header-container {
  width: 100%;
}
.main-header-container .carousel-item {
  height: 40vh;
}
.main-header-container .banner {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.main-header-container #banner1 {
  background-image: url(images/car.png);
  background-color: #FAFEFE;
}
.main-header-container #banner2 {
  background-image: url(images/family.jpg);
  background-position: bottom left;
}
.main-header-container #banner3 {
  background-image: url(images/house.jpg);
  background-position: 0px -10px;
}
.main-header-container .summary-card {
  background-color: #fff;
  max-height: 100%;
  width: 200;
  float: right;
  padding-top: 4px;
  padding-bottom: 10px;
  margin-top: 10px;
}
.main-header-container .summary-card h6 {
  font-size: 14px;
  color: #EB3D00;
}
.main-header-container .summary-card p {
  font-size: 12px;
}

#about-us-summary-section #About-us-summary {
  padding-top: 30px;
}
.side-effect {
  position: fixed;
  width: 100px;
  height: 150px;
  background-color: #0077C1;
  transform: rotate(-47deg);
  z-index: -1;
}

.side-effect-inner {
  background-color: #EB3D00;
  margin: 10px;
  width: 80;
  height: 80;
}

.services-card {
  background-color: #fff;
  width: 300px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
}

#services-summary-main-sm {
  background-color: #f3f3f3;
  display: block;
}
#services-summary-main-sm #services-summary .carousel-item {
  border-radius: 5px;
}

#services-summary-main-lg {
  display: none;
}

#page-footer {
  background-color: #000000;
  color: #fff;
}
#page-footer ul {
  list-style-type: none;
}
#page-footer ul a {
  text-decoration: none;
  display: block;
  color: #fff;
  font-size: 14px;
}
#page-footer > div {
  margin: 0px;
}

@media (min-width: 768px) {
  center-all, #nav-container, #nav-container #social-media {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #header #logo-div {
    margin: 0 auto 0 0;
    padding-bottom: 10px;
  }
  #header #call-us {
    margin-bottom: 0;
  }

  /*NAVIGATIONS*/
  #nav-container {
    padding-right: 50px;
  }
  #nav-container .nav-ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    margin: 0 auto 0 50px;
    padding: 0;
    height: 100%;
  }
  #nav-container .nav-ul .nav-li {
    padding: 9px;
    margin-right: 5px;
    font-size: 18px;
  }
  #nav-container .nav-ul .nav-li .nav-a {
    display: block;
    text-decoration: none;
    color: #fff;
  }
  #nav-container #nav-icon {
    display: none;
  }

  .c-dropdown {
    position: relative;
    display: inline-block;
  }

  .c-dropdown-content, .c-inner-dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 10;
    background-color: #EB3D00;
  }
  .c-dropdown-content .nav-a, .c-inner-dropdown-content .nav-a {
    padding: 5px 0 5px 5px;
    font-size: 14px;
    border-bottom: 1px solid #fff;
  }
  .c-dropdown-content .nav-a:hover, .c-inner-dropdown-content .nav-a:hover {
    background-color: #0077C1;
  }

  .c-dropdown:hover .c-dropdown-content {
    display: block;
  }

  .c-inner-dropdown {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .c-inner-dropdown a {
    width: 100%;
  }

  .c-inner-dropdown-content {
    left: 200.5px;
  }

  .c-inner-dropdown:hover .c-inner-dropdown-content {
    display: block;
  }

  .main-header-container .carousel-item {
    height: 50vh;
  }
  .main-header-container #banner3 {
    background-position: 0px -200px;
  }
  .main-header-container .summary-card {
    width: 50vw;
    margin-top: 30px;
    margin-right: 20px;
    padding: 20px;
  }
  .main-header-container .summary-card h6 {
    font-size: 24px;
  }
  .main-header-container .summary-card p {
    font-size: 16px;
  }

  #about-us-summary-section #About-us-summary {
    width: 50%;
    margin: 0 auto;
  }

  #services-summary-main #services-summary {
    width: 50%;
    margin: 0 auto;
  }
  #page-footer #page-footer-div {
    width: 100%;
  }
  #page-footer > div {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .main-header-container #banner1 {
    background-position: 10px -200px;
  }
  .main-header-container #banner2 {
    background-position: 0px -150px;
  }
  .main-header-container #banner3 {
    background-position: 0px -400px;
  }

  #about-us-summary-section {
    height: 60vh;
  }
  #about-us-summary-section #About-us-summary {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }

  #services-summary-main-lg {
    background-color: #f3f3f3;
    height: 70vh;
    display: flex;
  }
  #services-summary-main-lg .services-card {
    width: 100%;
  }

  #services-summary-main-sm {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
